.battle {
	display: flex;
	justify-content: center;
	/* border: 2px red solid; */
	padding: 5em;
	flex-direction: row;
	
	
	
}

.battle div {
	border:#ffffe0 5px solid;
	background-color: #fffdd0;
	border-radius:  10px;
	margin-top: 5em;
	
}

.battle p {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: #4a4a4a;
	font-size: 1.3em;
	
}

.battle h2 {
	font-size: 2em;
	color: #4a4a4a;
}

.battle img {
	width: 20em;
	height: 15em;
	border-radius: 0.5em;
	cursor: pointer;
}

.randomhamsterleft {
	padding: 1em;

}

.randomhamsterright {
	padding: 1em;
}

.random-btn {
	display: flex;
	font-size: 1.2em;
	border-radius: 0.5em;
	padding: 0.5em 1.4em;
	background-color: #FDBCB4;
	transition: all 0.4s;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	align-self:flex-end;
	cursor: pointer;

}

p {
	height: 1em;
	display: flex;
	flex-direction: column;

}


