.start-container {
	margin-top: -80px;
}

.start-container h1 {
	font-size: 3em;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: #4a4a4a;
}

.start-container h3 {
	color: #4a4a4a;
}

.logo {
	width: 50em;
	
}

.battle-btn {
	font-size: 1.2em;
	border-radius: 0.5em;
	padding: 0.5em 1.4em;
	background-color: #FDBCB4;
	transition: all 0.4s;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	margin: 5em;
}

.battle-btn:hover {
	cursor: pointer;
	background-color: #FFFF66;
	transform: translateY(-4px);
	font-size: 1.3em;
}

.error-btn {
	font-size: 1.2em;
	border-radius: 0.5em;
	padding: 0.5em 1.4em;
	background-color: #FDBCB4;
	transition: all 0.4s;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	margin: 5em;
	margin-top: -3px;
}



