.hamster-card {
	border: 1px solid black;
	padding: 1em;
	margin: 0.3em;
}

.border {
	border: 1px solid black;
	padding: 1em;
	margin: 1em;
}

.hamster-container {
	display: grid;
	grid-template-columns:  repeat(4, 1fr)  /* 1fr 1fr 1fr 1fr */ 
}

img  {
	width: 20vh;
}