:root {
	--error-color: #fe4164;
	--valid-color: #249919;
}


.form { 
display: flex;
justify-content: center;
	

}
.form-card {
	border:#ffffe0 solid 10px;
	width: 30em;
	height: 50em;
	margin-top: 10em;
	background-color: #fffdd0;

}

.form-card h1 {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: #4a4a4a;
	padding-bottom: 20px;
}

.form-card p {
	color: #4a4a4a;
	font-size: 1.5em;
	padding: -20px;
}

.form > section {
	 margin-top: 1em; 
	 margin-bottom: em;
	


}

.form > section > * {
	  display: block;
	 


}


section {
	/* border: 2px solid purple; */
	margin-bottom: 0.2em;
	height: 4em;
	padding: 8px;
	
	
} 

.form input {
	font-size: 1.1em;
	border-radius: 0.3em ;
	padding-left: 0.5;
	border-width: 3px;
	height: 1.5em;
	
}

.form .message-hidden {
	position: center;
	color: var(--error-color);
}

.form .error {
	border-color: var(--error-color);
}

.form .valid {
	border-color: var(--valid-color);
}

.form button {
	
	font-size: 1.2em;
	border-radius: 0.5em;
	padding: 0.5em 1.4em;
	background-color: #FDBCB4;
	transition: all 0.4s;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	margin: 5em;
	margin-top: -3px;

	
}

.form button:hover {
	cursor: pointer;
	background-color: #FFFF66;
	transform: translateY(-4px);
	font-size: 1.3em;

}

.form button:disabled {
	background-color: #e5e4e2;
	color: #808080;
}