nav a {
	padding: 0.2em 2em;
	transition: background-color 0.3s linear;
	text-decoration: none;
	font-size: 1em;
	color: #4a4a4a;
  
  }
  
  nav a:hover {
	background-color: #fadadd;
	border-radius: 1em;
  }

  header {
	background-color:#FDBCB4;
	color: #61dafb;
	padding:  0.5em;
	flex: 0 0 auto;
  }